<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techie Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
  <h1>Welcome to Techie Blog!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="logout-btn">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <section>
<div class="blogs">
{{{body}}}
</div>
</section>
{{#if loggedIn}}
<script src="/public/js/logout.js"></script>
{{/if}}
</body>
</html>

<!--
  a home page where you see the existing blogs posted if there is any. 
  the home page would have the logo on the right, the name right next to it or in the
  center but on the same section for sure.
  for this we need home page. 
  2. the nav bar would have a log in/sign up and log out button along with a home button.
  this could be the home page as well and log out button
  6. once they successfully sign in they are met with the same page but this time
  there is an icon or a text area where someone can type a blog post.
  if they write it and click post it publishes and sends it the card where all the
  other blog posts get saved. 
  
  7. you can also add comments to other blogs 
  
-->